*.log
.DS_Store
.env
.env.backup
.env.bak*
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/database/anlux_cli.sqlite
/node_modules
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/public/legacy/public/img/firmas/
/storage/*.key
/storage/pail
/vendor
/.superdesign/tmp/
*-mantenimiento-cpanel.zip
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
.vercel

.vercel
.env*

!/database/vercel.sqlite
